*{
    box-sizing: border-box;
}

#wrapper{
    position: relative;
    display: inline-block;
}

#hudDisplay{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.actorWrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}

#pHealth{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,231,91,1) 0%, rgba(0,255,40,0.5991396360759493) 80%);
    margin-right: 10px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#pShadow{

}

#timer{
    background: white;
    height: 90px;
    width: 100px;
    flex-shrink: 0;
    border: 1px solid black;
}

#eHealth{
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(249,231,91,1) 0%, rgba(0,255,40,0.5991396360759493) 80%);
    margin-left: 10px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#eShadow{
    position: absolute;
    background:  whitesmoke;
    opacity: .5;
}

#pOutline{
    position: absolute;
    border: 3px solid silver;
    height: 30px;
    width: 98%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#eOutline{
    position: absolute;
    border: 3px solid silver;
    height: 30px;
    width: 98%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 10px;
}