*{
    box-sizing: border-box;
    font-family: 'Press Start 2P','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

#wrapper{
    position: relative;
    display: inline-block;
}

#hudDisplay{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.actorWrapper{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}

#pName{
    position: absolute;
    background-color: #000000;
    opacity: .5;
    color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: 7px;
}
#pHealth{
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(249,231,91,1) 0%, rgba(0,255,40,0.5991396360759493) 80%);
    margin-right: 10px;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
#pShadow{
    position: absolute;
    background:  whitesmoke;
    opacity: .5;
}

#timer{
    display: flex;
    background: silver;
    height: 90px;
    width: 100px;
    flex-shrink: 0;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 28px;
    border-style: double;
    border-radius: 50px;
}


#eName{
    position: absolute;
    background-color: #000000;
    opacity: .5;
    color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 7px;
}
#eHealth{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,231,91,1) 0%, rgba(0,255,40,0.5991396360759493) 80%);
    margin-left: 10px;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
#eShadow{
    position: absolute;
    background:  whitesmoke;
    opacity: .5;
}

#pOutline{
    position: absolute;
    border: 3px solid silver;
    height: 30px;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}
#eOutline{
    position: absolute;
    border: 3px solid silver;
    height: 30px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 10px;
}

#result{
    position: absolute;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: black;
    opacity: .5;*/

}